.startup-main{
  margin-top: 50px;
     padding: 25px;
 .itemss{
  
    height: 300px;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin: 0 15px;
    font-size: 4em;

    img{
        width: 65px;
    }
    p{
      font-size: 20px !important;
    }
   }
  
   .rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: #f18e38 !important; 
  }
  .rec.rec-arrow {
    border-radius: 0;
    
  }
  .rec-dot_active {
    box-shadow:  0px 0px 1px 3px rgba(0, 0, 0, 1) !important;
    
    background-color: #f18e38 !important;
  }
  .caro-sel{
    padding-bottom: 3rem !important;
  }
  
  .join-btn{
    font-weight: 700;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .join-btn:hover{
    font-weight: 700;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f18e38;
    transition: all ease 0.4s;
  }
}