
    
a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  a,
  a:hover {
    text-decoration: none !important;
  }
  
  .footer-logo-img {
   
    width: 50%;
    margin-bottom: 10px;
    transition: 0.70s !important;
    -webkit-transition: 0.70s !important;
    -moz-transition: 0.70s !important;
    -ms-transition: 0.70s !important;
    -o-transition: 0.70s !important;
  }
  
  
  .footer-logo{
    margin-bottom: 0px !important;
    font-weight: 700;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-20192 {
    border: 5px solid #f18e38 ;
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: #000;
    margin-top: 200px;
  }
  .footer-20192 .container {
    position: relative;
  }
  .footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5;
  }
  .footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block;
  }
  .footer-20192 .links li a {
    color:gray ;
  }
  .footer-20192 .links li a:hover {
    color: #fff;
  }
  .footer-20192 .social li {
    display: inline-block;
    position: relative;
    padding-inline: 5px;
  }
  .footer-20192 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #f18e38;
    color: #000;
  }
  .footer-20192 .social li a > i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
  }
 .social{
    i:hover{
        color: #fff;
        transition: all ease 0.6s;
      }
  }
  .footer-20192 .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .footer-20192 .copyright {
    color: #666873;
  }
  .footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 !important;
    box-shadow: -20px -20px 0 0 ;
    padding: 20px;
    background-color: #f18e38;
    border: 5px solid #000;
    top: -150px;
    justify-content: center;
    position: relative;
  }
  .footer-20192 .cta h2,
  .footer-20192 .cta h3 {
    line-height: 1.5;
    color: #000;
  }
  .footer-20192 .cta h3 {
    font-size: 20px;
  }
  
  .contact-btn{
      margin-left: 20px;
  }
small {
    color: #fff;
}